body {
  background: #f25d8e;
  color: #ffacbf;
  font-size: 12px;
  line-height: 1.7em;
  margin: 0;
}
#close {
  background: #fb93ab;
  border-radius: 14px;
  color: #f25d8e;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  line-height: 13px;
  vertical-align: middle;
  margin-right: 2px;
  text-align: center;
  transition: all .2s ease;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 10px;
  right: 5px;
}
#close:hover {
  background: #fff;
}
.list {
  padding: 5px;
}
.list-title {
  color: #fff;
  font-weight: bold;
  margin: 5px;
}
.item {
  border-radius: 3px;
  cursor: pointer;
  line-height: 2.4em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 5px;
}
.item:hover {
  background: #ea8aa1;
  color: #fff;
}
