/* global */
html, body{
	font-size: 12px;
	font-family: 'PingFangSC-Regular', 'Microsoft Yahei';
	margin: 0;
	height: 100%;
	overflow: hidden;
}
#wrapper{
	transition: all .2s ease;
	height: 100%;
	position: relative;
	top: 0;
}
body.macos #wrapper:hover,
#wrapper.showTopBar{
	/* transform: translate3d(0, 36px, 0); */
	/* 不能用transform来做这个动画效果..貌似translate3d不会触发reflow，造成topBar的里的dragzone的
		-webkit-app-region: drag; 没有生效 */
	top: 36px;
}
.globalOverlay{
	background: rgba(0, 0, 0, .7);
	position: fixed;
	top: 0;
	left: -99999px;
	opacity: 0;
	width: 100%;
	height: 100%;
	transition: opacity .2s ease;
	z-index: 9;
}
.globalOverlay.active{
	left: 0;
	opacity: 1;
}

/* topbar*/
#topbar{
	background: #f25d8e;
	box-sizing: border-box;
	line-height: 36px;
	padding: 0 1em;
	position: absolute;
	top: -36px;
	left: 0;
	width: 100%;
}
#icon-bar-left{
	position: absolute;
	top: -1px;
	left: 10px;
}
#icon-bar-right{
	position: absolute;
	top: -1px;
	right: 10px;
}
.top-btn{
	background: #fb93ab;
	color: #f25d8e;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	margin-right: 2px;
	transition: all .2s ease;
}
.top-btn:hover{
	background: #fff;
}
.top-btn[disabled]{
	opacity: .5;
}
.top-btn[disabled]:hover{
	background: #fb93ab;
}
.icon-btn{
	border-radius: 14px;
	font-size: 7px;
	width: 14px;
	height: 14px;
	text-align: center;
}
#navi-back{
	line-height: 15px;
	text-indent: -1px;
}
#navi-forward{
	line-height: 15px;
	text-indent: -1px;
	transform: rotate(180deg);
}
#navi-goto{
	border-radius: 3px;
	font-size: 14px;
	line-height: 15px;
	padding: 0 5px;
}
#app-close{
	font-size: 12px;
	line-height: 14px;
}
#dragzone{
  -webkit-user-select: none;
	-webkit-app-region: drag;
	border-radius: 3px;
	color: #ffacbf;
	cursor: move;
	text-align: center;
	line-height: 22px;
	width: 50%;
	margin: 7px auto;
}

/* webview */
#wv{
	width: 100%;
	height: 100%;
}

/* input */
#input-layer{
	background: #f25d8e;
	border-radius: 4px;
	width: 191px;
	height: 25px;
	padding: 10px;
	margin: auto;
	position: absolute;
	top: -20px;
	left: -999999px;
	bottom: 0;
	right: 0;
	transition: top .2s ease;
	z-index: 10;
}
#input-layer.active{
	top: 0;
	left: 0;
}
#input{
	border: 0;
	border-radius: 4px;
	line-height: 24px;
	outline: 0;
	padding: 0 10px;
}
#input-finish{
	color: #fb93ab;
	display: inline-block;
	padding: 0 10px;
	line-height: 24px;
}
#input-finish:hover{
	color: #fff;
}